pipeline/CopyPipeline_4pj.json
{
	"name": "CopyPipeline_4pj",
	"properties": {
		"activities": [
			{
				"name": "Copy_4pj",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "oryzafiledatalake/synapse/workspaces/oryzaworkspce/data-test/2023-11-14 15:55:38.313807.snappy.parquet"
					},
					{
						"name": "Destination",
						"value": "dbo.Logs"
					}
				],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": {
								"value": "@variables('FolderName')",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@variables('FileName')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlPoolSink",
						"allowPolyBase": true,
						"polyBaseSettings": {
							"rejectValue": 0,
							"rejectType": "value",
							"useTypeDefault": true
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "String"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Time",
									"type": "DateTime"
								},
								"sink": {
									"name": "Time",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "PlateColor",
									"type": "String"
								},
								"sink": {
									"name": "PlateColor",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VehicleType",
									"type": "String"
								},
								"sink": {
									"name": "VehicleType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VehicleColor",
									"type": "String"
								},
								"sink": {
									"name": "VehicleColor",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VehicleModel",
									"type": "String"
								},
								"sink": {
									"name": "VehicleModel",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Speed",
									"type": "Int32"
								},
								"sink": {
									"name": "Speed",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "IsWrongLane",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsWrongLane",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "SmallImg",
									"type": "String"
								},
								"sink": {
									"name": "SmallImg",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BigImg",
									"type": "String"
								},
								"sink": {
									"name": "BigImg",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Weight",
									"type": "Int32"
								},
								"sink": {
									"name": "Weight",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "CamName",
									"type": "String"
								},
								"sink": {
									"name": "CamName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Accuracy",
									"type": "Double"
								},
								"sink": {
									"name": "Accuracy",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "IsOverload",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsOverload",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "WeightOverload",
									"type": "Double"
								},
								"sink": {
									"name": "WeightOverload",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "IsOversize",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsOversize",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "VehicleLength",
									"type": "Double"
								},
								"sink": {
									"name": "VehicleLength",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "VehicleWidth",
									"type": "Double"
								},
								"sink": {
									"name": "VehicleWidth",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "VehicleHeight",
									"type": "Double"
								},
								"sink": {
									"name": "VehicleHeight",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "EventTraffic",
									"type": "String"
								},
								"sink": {
									"name": "EventTraffic",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BeforeImg",
									"type": "String"
								},
								"sink": {
									"name": "BeforeImg",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AfterImg",
									"type": "String"
								},
								"sink": {
									"name": "AfterImg",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CreateAt",
									"type": "DateTime"
								},
								"sink": {
									"name": "CreateAt",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "UpdateAt",
									"type": "DateTime"
								},
								"sink": {
									"name": "UpdateAt",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "IsDelete",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsDelete",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "Hash",
									"type": "String"
								},
								"sink": {
									"name": "Hash",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PlateNo",
									"type": "String"
								},
								"sink": {
									"name": "PlateNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Lane",
									"type": "Int32"
								},
								"sink": {
									"name": "Lane",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "CamIpAddress",
									"type": "String"
								},
								"sink": {
									"name": "CamIpAddress",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VolumeOversize",
									"type": "String"
								},
								"sink": {
									"name": "VolumeOversize",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_4pj",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_4pj",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FolderName",
					"value": "oryzafiledatalake/synapse/workspaces/oryzaworkspce/data-test"
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			},
			"FolderName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}