templates/PipelineGetFileLog/PipelineGetFileLog.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "oryzaworkspce"
		},
		"oryzaworkspce-WorkspaceDefaultStorage": {
			"type": "string"
		},
		"oryzaworkspce-WorkspaceDefaultSqlServer": {
			"type": "string"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/PipelineGetFileLog')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Parquet1",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "ParquetReadSettings"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name,'.parquet')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Lookup1",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlPoolSource",
											"sqlReaderQuery": {
												"value": "select Name,Type from LogsFile\nwhere Name = '@{item().name}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "SqlPoolTable1",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Lookup1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('Lookup1').output?.firstRow,null)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Wait2",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy_dmq",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "oryzafiledatalake/synapse/traffic-log/log_2023_11_25.parquet"
													},
													{
														"name": "Destination",
														"value": "dbo.TrafficLog"
													}
												],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": "synapse/traffic-log",
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "SqlPoolSink",
														"allowCopyCommand": true
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "[parameters('oryzaworkspce-WorkspaceDefaultStorage')]",
															"type": "LinkedServiceReference"
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SourceDataset_dmq",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DestinationDataset_dmq",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Script1",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "Copy_dmq",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "[parameters('oryzaworkspce-WorkspaceDefaultSqlServer')]",
													"type": "LinkedServiceReference",
													"parameters": {
														"DBName": "OryzaPoolDemo"
													}
												},
												"typeProperties": {
													"scripts": [
														{
															"parameters": [
																{
																	"name": "name",
																	"type": "String",
																	"value": {
																		"value": "@item().name",
																		"type": "Expression"
																	},
																	"direction": "Input"
																},
																{
																	"name": "type",
																	"type": "String",
																	"value": "log",
																	"direction": "Input"
																}
															],
															"type": "Query",
															"text": "INSERT INTO LogsFile(Name,Type)\nVALUES(@name,@type)"
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"variables": {
					"isSucess": {
						"type": "Boolean"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/Parquet1')]",
				"[concat(variables('workspaceId'), '/datasets/SqlPoolTable1')]",
				"[concat(variables('workspaceId'), '/datasets/SourceDataset_dmq')]",
				"[concat(variables('workspaceId'), '/datasets/DestinationDataset_dmq')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('oryzaworkspce-WorkspaceDefaultStorage')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "synapse/traffic-log",
						"fileSystem": "oryzafiledatalake"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Time",
						"type": "TIMESTAMP_MILLIS"
					},
					{
						"name": "PlateNo",
						"type": "UTF8"
					},
					{
						"name": "PlateColor",
						"type": "UTF8"
					},
					{
						"name": "VehicleType",
						"type": "UTF8"
					},
					{
						"name": "VehicleColor",
						"type": "UTF8"
					},
					{
						"name": "VehicleModel",
						"type": "UTF8"
					},
					{
						"name": "Speed",
						"type": "INT32"
					},
					{
						"name": "Lane",
						"type": "INT32"
					},
					{
						"name": "IsWrongLane",
						"type": "BOOLEAN"
					},
					{
						"name": "IsOverload",
						"type": "BOOLEAN"
					},
					{
						"name": "WeightOverload",
						"type": "INT32"
					},
					{
						"name": "IsOversize",
						"type": "BOOLEAN"
					},
					{
						"name": "VolumeOversize",
						"type": "UTF8"
					},
					{
						"name": "VehicleLength",
						"type": "INT32"
					},
					{
						"name": "VehicleWidth",
						"type": "INT32"
					},
					{
						"name": "VehicleHeight",
						"type": "INT32"
					},
					{
						"name": "EventTraffic",
						"type": "UTF8"
					},
					{
						"name": "Hash",
						"type": "UTF8"
					},
					{
						"name": "ExtraData",
						"type": "UTF8"
					},
					{
						"name": "ID",
						"type": "UTF8"
					},
					{
						"name": "CreatedAt",
						"type": "TIMESTAMP_MILLIS"
					},
					{
						"name": "UpdatedAt",
						"type": "TIMESTAMP_MILLIS"
					},
					{
						"name": "DeletedAt",
						"type": "TIMESTAMP_MILLIS"
					},
					{
						"name": "AfterImg",
						"type": "UTF8"
					},
					{
						"name": "BeforeImg",
						"type": "UTF8"
					},
					{
						"name": "BigImg",
						"type": "UTF8"
					},
					{
						"name": "SmallImg",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SqlPoolTable1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "ID",
						"type": "varchar"
					},
					{
						"name": "CreatedAt",
						"type": "date"
					},
					{
						"name": "UpdatedAt",
						"type": "date"
					},
					{
						"name": "Name",
						"type": "varchar"
					},
					{
						"name": "Type",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "LogsFile"
				},
				"sqlPool": {
					"referenceName": "OryzaPoolDemo",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/OryzaPoolDemo')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/OryzaPoolDemo')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"annotations": []
			},
			"dependsOn": [],
			"location": "southeastasia"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SourceDataset_dmq')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('oryzaworkspce-WorkspaceDefaultStorage')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "log_2023_11_25.parquet",
						"folderPath": "synapse/traffic-log",
						"fileSystem": "oryzafiledatalake"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DestinationDataset_dmq')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "TrafficLog"
				},
				"sqlPool": {
					"referenceName": "OryzaPoolDemo",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/OryzaPoolDemo')]"
			]
		}
	]
}